PyQt5
openai-whisper
pvporcupine
pyaudio
spacy
chromadb
numpy
SpeechRecognition
setuptools
wheel
pyttsx3
python-dotenv
openai
requests
pywhatkit
pywhatkit
qtawesome
chromadb
pypdf
pytz
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psutil
geopy
geocoder
